<?xml version="1.0" encoding="UTF-8"?>
<!-- DHIS2 logging configuration file -->
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
    <Syslog name="Syslog" format="RFC3164" host="syslog.security.dhis2.org" port="10514"
            protocol="UDP" appName="DHIS2" facility="LOCAL0" newLine="true">
      <LoggerFields>
        <KeyValuePair key="threadId" value="%t"/>
        <KeyValuePair key="priority" value="%p"/>
        <KeyValuePair key="category" value="%c"/>
        <KeyValuePair key="exception" value="%ex{short}"/>
      </LoggerFields>
    </Syslog>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console" />
      <AppenderRef ref="Syslog" />
    </Root>
  </Loggers>
</Configuration>
